@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.emptyDiv {
    width: 100%;
    height: 4rem;
    opacity: 0;
}

.emptyDivHome {
    width: 100%;
    height: 0rem;
    opacity: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    /*background-color: #7ec2fe;*/
    /*background-color: rgb(126, 194, 254, 0.8);*/
    background-color: rgb(51,51,51);
    
    z-index: 9999;
    height: 4rem;
    top: 0;
}




.back {
    /**/
    /*background-image: url(/images/backgroundmountain.jpeg);*/
    /*background-color: rgb(255, 249, 208);*/
    
    width: 100%;
    height: 100vh;
    
    z-index: -1;
    position: relative;
    background-image: url(./images/backgroundmountain.jpeg);
    background-size: cover;
    
}

.overlay {
    background: #ecedef;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    position: absolute;
    
}


.navbar-title {
    background-image: linear-gradient(to top, #74d3ff 25%, #5b8cff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.7rem;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

#item li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;

    display: block;
    color: #fff;
    
    border-radius: 50px;
    padding: 0px 10px;
    transition: 0.2s;
    
}

/*#item .icon i {
    color: #fff;
    padding-right: 30px;
    font-weight: bold;
}*/

#item li a:hover {
    color: rgb(126, 194, 254);
    cursor: pointer;
    transition: color 0.3s ease;
    transition: 0.2s ease;

    /*Adds white backgorund when you hover over words
    background-color: #fff;
    border: 10px solid #fff;
    opacity: 0.7;
    */
    background: #ffffff;


}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid p {
    color: #fff;
    font-size: 1.5rem;
}

.mid h1 {
    font-size: 3.5rem;

    color: #fff;
    background-image: url(./images/slowedcoolfuids.gif);
    /*background-image: url(./images/multicolorgif.webp);*/
 
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    margin: 10px 0;
    
}

.mid i {
    padding: 5px;
    color: #000000;
    font-size: 1.5rem;
}

.mid a i:hover {
    color: #008fdc;
    transition: color 0.3s ease;
}

/* Rotating Words */

.outer-headings .static {
    margin-left: -180px;
    padding: 0px 5px;
}
.words {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 1.5rem;
    overflow: hidden;
    margin-left: 50px;
}

.words span {
    position: relative;
    font-weight: bold;
    color: #fff;
    animation: animation 8s ease infinite;
}

@keyframes animation {
    0%
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }

}


.About-Section {
    min-height: 100vh;
}

/*
.aboutcontainer {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}
*/

.aboutcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
}



.pic #headshot {
    max-width: 100%;
    height: auto;
    max-height: 550px;
    min-height: 100%;
    border-radius: 20px;
    display: block;
    object-fit: cover;

    /* Adds white border behind picture can delete later */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aboutcontainer .pic {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 45%; 
    max-width: 40%;
    align-items: center;
}

.aboutcontainer .description {
    flex: 1 1 85%; /* Flex items take up 45% of the container each */
    max-width: 50%;
    min-width: 400px;

    background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color and transparency */
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .aboutcontainer .pic,
    .aboutcontainer .description {
        flex: 1 1 100%; /* On small screens, make them full width */
        max-width: 100%;

    }
    .aboutcontainer {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center items horizontally */
    }
    .pic {
        justify-content: center; /* Center the image on small screens */
    }
    #headshot {
        justify-content: center;
    }
}

.description .p{
    font-size: 1rem;
    padding-bottom: 1.1rem;
    word-wrap: break-word;   
}


/*
.clubs {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubpics {
    display: flex;
    justify-content: flex-end;

    flex: 1 1 45%;
    max-width: 100px;
    min-width: 5cap;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 2rem;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
*/

/* ==== Club CSS Start ==== */

.CLUB-SECTION {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.club-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 100%; /* Adjust max-width as needed */
}

.club-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem; /*could do 10px*/
    padding: 1rem;
    text-decoration: none;
    color: inherit; /* Maintain text color */
    width: 250px; /* Adjust width as needed */
    position: relative; /* Needed for positioning the hover effect */
    overflow: hidden; /* Hide overflow for hover effect */
    transition: transform 0.3s;
}

.club-box:hover .club-hover{
    opacity: 0.8; /* Show the hover effect */
   
}

.club-box:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.club-image {
    width: 100px; /* Adjust image size as needed */
    height: 100px; /* Adjust image size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    /* border: 1px solid rgb(8, 8, 8); */
    padding: 2px;
    
}

.club-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.club-description {
    font-size: 1rem;
    color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 10px;
}


.club-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 223, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s;
    color: #020202; 
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    backdrop-filter: blur(20px); 
    
}


.club-box:hover .club-image {
    opacity: 0.3;
}
.club-box:hover .club-title {
    opacity: 0.05;
}

.club-box:hover .club-description {
    opacity: 0.05;
}
/* ====Club CSS End==== */





.section-titles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about, #experience, #projects, #contact {
    position: relative;
    padding-top: 10px;
    display: block;
    padding-bottom: 1px;
    /* margin-bottom: 20px; */
    text-transform: uppercase;
    /*
    border-bottom: 2px solid black;
    margin: 0 auto;
    width: fit-content;
    */
    color: rgb(51,51,51);
}

#about::after, #experience::after, #projects::after, #contact::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust this value to position the blue border relative to the black border */
    width: 50%; /* 50% width for the blue border */
    height: 4px; /* Adjust the height of the blue border */
    background-color: rgb(126, 194, 254);
    left: 25%; /* Center the 50% width blue border */
}

#about::before, #experience::before, #projects::before, #contact::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -3px;
    width: 80%; /* Adjust this percentage to control the length of the border */
    height: 1px; /* Adjust the height of the border */
    background-color: rgb(51,51,51);
    left: 50%;
    transform: translateX(-50%);
}

#intro {
    font-size: 1.1rem; 
    /*
    margin-top: 60px; 
    padding: 50px;
    width: 80%;
    */
}

.intro-container {
    /*border: 10px solid black;*/
    max-width: 600px;
    width: 100%;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}



/*===EXPERIENCE CONTENT STLYING===*/

.Experience-Section {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
   
}

.section-titles {
    text-align: center;
    margin-bottom: 2rem;
}

.left-section,
.right-section {
    width: 50%;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
    text-align: center;
    height: 50vh; /*Adjusts size of resume div*/
}

.right-section .resume-title {
    margin-top: 0;
    text-align: center;
}

.expsection-title {
    padding-top: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.expsection-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 4px;
    width: 100%;
    background: rgb(126, 194, 254);
}


.resume-title {
    padding-top: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.resume-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 4px;
    width: 100%;
    background: rgb(126, 194, 254);
}

.resume-content #resume_hand_link {
    text-decoration: none;
    color: rgb(126, 194, 254);
    display: inline-block;
    position: relative;
}

#resume_hand_link:hover {
    color: #5b8cff;
    /* border-bottom: 1.5px solid #5b8cff; */
    /* border-radius: 1px; */
    transition: 0.05s;
}

.resume-content {
    min-width: 40%;
    text-align: center;
    justify-content: center;
    max-width: inherit;
}

.fa-hand-point-right, .fa-hand-point-left {
    color: initial;
}

#resume_hand_link:hover .fa-hand-point-right,
#resume_hand_link:hover .fa-hand-point-left {
    color: #5b8cff;
    transition: 0.05s;
}

/* ====Styled JS For this part==== */
.skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: 
    
}

.skill-box {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 10px;
    margin-left: 2rem;
    /* margin-right: 55%; */
}

.skill-box img {
    width: 60px;
    height: 50px;
    margin-right: 20px;
}

.skill-box p {
    flex: 0 0 80px; /* Fixed width to align progress bars */
    margin: 0;
}

.progress-bar {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.progress {
    height: 10px;
    background-color: #5b8cff;;
    text-align: right;
    
}


.certifications {
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
}

.expsection2-title {
    /*
    padding-top: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    */
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
    margin-left: 2rem;
    font-size: 1.5rem;
    
}

.expsection2-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /*Issues here may arise with the bar line */
    height: 4px;
    width: 100%;
    background: rgb(126, 194, 254);

}

.certification-list {
    display: flex;
    flex-wrap: wrap; /* Allow the boxes to wrap if they don't fit in one line */
    gap: 10px; /* Adjust the gap between the boxes */
}

.certification-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    width: 250px; 
    height: 150px; 
    justify-content: center;
    padding: 20px;
    margin-left: 2rem;
    /* FIND A WAY TO MAKE THE PADDING SPACE AROUND FOR THE DIV BOXES FOR EACH NEW CERTIFICATION */

}

.certification-box img {
    width: auto;
    height: 80px;
    margin-bottom: 10px;
}

.certification-box p {
    margin: 0;
    text-align: center;
}

.certification-box:hover {
    background-color: rgba(173, 216, 230, 0.5);
}


/*===PROJECT CONTENT STLYING===*/

.Project-Section {
    min-height: 100vh;
    
}

.proj-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
    justify-content: center;
}

.project-box {
    background-color: #53f0dd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 5px;
    width: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    /*=== These 3 lines of code below ensures that view-proj-on box alwyas on bottom of box===*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-box:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Edit color of diff project boxes by editing the id */
#projectbox2 {
    background-color: coral;
}




.project-title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: start;
}

.project-description {
    font-size: 1.05rem;
    margin-bottom: 10px;
    text-align: start;
    max-width: 375px;
}

.project-languages {
    margin-bottom: 10px;
    color: black;
    text-align: start;
    font-style: italic;
    font-size: 1rem;
}

.project-gif {
    display: flex;
    /*===Option to center image by uncommenting out phrase below===*/
    /* justify-content: center; */
}

.project-gif img {
    max-width: 300px;
    
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.view-project {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font: bold;
    margin-top: auto;
}

.view-project a {
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.view-project a:hover {
    background-color: #0056b3;
}






/*===CONTACT CONTENT STLYING===*/

.Contact-Section {
    min-height: 50vh;
}

.contact-container {
    display: flex;
    height: 100vh;
}

.contact-leftdiv {
    width: 60%;
    padding: 15px;
    margin-top: 1rem;
}

.contact-leftdiv p {
    margin-bottom: 3rem;
}

.contact-rightdiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.cdiv-topright {
    height:40%;
}

.map-titlediv {
    display: flex;
    justify-content: space-between;
}

.cdiv-bottomright {
    height: 60%;
}

.c-header-text {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 4px;
}

#c-icon {
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-width: 20px;
    border: 1.5px solid black;
    color: rgb(126, 194, 254);
}

#c-icon:hover {
    background-color: rgb(255, 255, 255);
    color: #007BFF;
}

.email-link {
    color: inherit;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
    color: #007BFF;
    transition: 0.2s;
}

iframe {
    width: 100%;
    height: 95%;
    padding: 10px 0px;
    padding-bottom: 20px;
}

/* LOCATION EMBED MAP SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    /* margin-left: 67%; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* ===Contact form section=== */

.contactform-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #2196F3;
    font-size: 25px;
    margin-bottom: 0px;
}

.contact-left-title hr {
    border: none;
    width: 75%;
    height: 4px;
    background-color: #1383de;
    border-radius: 0px;
    margin-bottom: 0px;
}

.field .item {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #010101;
    border-radius: 50px;
    background-color: #ededed;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -5px;
}

.textarea-field textarea {
    height: 10px;
    padding-top: 15px;
    border-radius: 10px;
}

form .textarea-field .item {
    resize: none; /*Makes it so that you cant resize the Main text message area*/
    height: 120px;
    padding-top: 15px;
    border-radius: 20px;
    width: 400px;
}

.field .item::placeholder {
    color: rgb(94, 92, 92, 0.7);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: 2px 5px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .error-txt {
    margin-top: -2px;
}

.item:focus {
    border: 2px solid rgb(126, 194, 254);
}

form button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: linear-gradient(270deg, #ff994f, #fa6d86); */
    background: linear-gradient(270deg, #62cff4, #2c67f2);
    margin-top: 5px;
    /* box-shadow: 0 0 10px #fa6d86; */
    box-shadow: 0 0 5px #2c67f2;
    letter-spacing: .75px;
    cursor: pointer;
}

form button:hover {
    box-shadow: none;
    transform: scale(1.05);
    transition: 0.2s ease;
}

@media (max-width:800px) {
    .item {
        width: 80vw;
    }
}

/* ==ALERT message contact form styling== */
.alert {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
    align-items: center;
    gap: 10px;
}

.alert.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert i {
    font-size: 1.5em;
}

.alert strong {
    font-weight: bold;
}















/* ===FOOTER SECTION=== */
footer {
    height: 30vh;
    max-height: 20vh;
    background-color: rgb(126, 194, 254);
    padding: 20px 0;
    text-align: center;
}

.footer-content h1 {
    margin: 0;
    font-size: 2rem;
    
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: black;
    margin: 0 10px;
    font-size: 2rem;
    transition: color 0.3s;
    
}

.social-icons a:hover {
    color: #007BFF;
}

.footer-bottom {
    
    padding: 10px 0;
    font-size: 0.9rem;
    color: white;
}

.footer-bottom p {
    margin: 0;
}

/* === Mobile Menu === */

@media only screen and (max-width: 700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        z-index: 1;
        width: 100%;
        max-width: 1000px;
        padding: 0px 20px;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        opacity: 0;
        background-color: rgb(51,51,51);
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;

        /*
        margin: 0;
        width: 100%; */
    }

    .navbar__menu.active {
        background: rgb(51,51,51);
        top: 4rem;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.3rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        
        left: 0;
        width: fit-content;
        
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    
    .navbar__item {
        margin: 15px 0;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    */

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*
@media screen and (max-width: 700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        z-index: 1;
        width: 100%;
        max-width: 2000px;
        padding: 0px 20px;


    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        background-color: #131617;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        
    }

    .navbar__menu.active {
        background: #beefff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.3rem;
        width: 100%;

        position: absolute;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 70px;
        text-align: center;
        
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
*/